.wrapper {
    background-color: rgba(239, 239, 239, 0.69);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
}