.trademark-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.trademark-current__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin: 2% 0 0% 0 ;
  padding: 2% 0;
  width: 100%;
  background-color: rgba(245, 126, 223, 0.788);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  .trademark-current__text_1 {
    font-weight: bold;
    text-align: left;
    margin: 1% 2%;
  }

  .trademark-current__text_2 {
    text-align: left;
    margin: 1% 2%;
    font-size: 1.5rem;
  }
}

.trademark-current__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 1.5% 1%;
}

.trademark-current__content__item  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0 0.5%;
}

.trademark-current__content__item__img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
